:host>>>.tooltip-inner {
    background-color: #ff2626;
    color: #fff;
}

 :host>>>.tooltip.top .tooltip-arrow:before,
 :host>>>.tooltip.top .tooltip-arrow {
    border-top-color: #ff2626;
}

textarea#textareaHistorial {
    background-color: white !important;
    border: none !important
}

.btn {
    margin-right: 10px;
}

.modal-dialog {
    max-width: 1140px !important;
}