:host>>>.tooltip-inner {
    background-color: #ff2626;
    color: #fff;
    }
     
    :host>>>.tooltip.top .tooltip-arrow:before,
    :host>>>.tooltip.top .tooltip-arrow {
    border-top-color: #ff2626;
    }

    .btn {
        margin-right: 15px;
    }

    table {
        width: 100%;
    }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }