<div class="container">
  <form [formGroup]="solpFormulario">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="tipo-solicitud">Tipo de solicitud</label>
          <div class="row">
            <mat-radio-group class="tipo-solicitud-group" formControlName="tipoSolicitud">
              <mat-radio-button class="tipo-solicitud" *ngFor="let tipoSolicitud of tiposSolicitud" [value]="tipoSolicitud.nombre"
                (change)="mostrarCM(tipoSolicitud)">
                {{tipoSolicitud.nombre}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="zona-contrato-marco" [hidden]="!mostrarContratoMarco">
          <label for="contrato-marco">Contrato Marco</label>
          <input type="text" id="cm" class="form-control" formControlName="cm">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="solicitante" class="col-form-label">Solicitante</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="solicitante" value="{{nombreUsuario}}" disabled>
      </div>
      <label for="empresa" class="col-form-label">Empresa</label>
      <div class="col-md-5">
        <select id="empresa" formControlName="empresa" class="form-control">
          <option *ngFor="let empresa of empresas" [value]="empresa.nombre" [text]="empresa.nombre">
            {{empresa.nombre}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="ordenadorGastos" class="col-form-label">Ordenador de gastos</label>
        <select2 formControlName="ordenadorGastos" [data]="dataUsuarios" [minCountForSearch]="1" [value]="valorUsuarioPorDefecto"
          class="form-control"></select2>
      </div>
      <div class="col-md-6">
        <label for="pais" class="col-form-label">País</label>
        <select id="pais" name="pais" formControlName="pais" class="form-control">
          <option *ngFor="let pais of paises" [value]="pais.nombre" [text]="pais.nombre">
            {{pais.nombre}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="categoria" class="col-form-label">Categoría</label>
        <select id="categoria" name="categoria" formControlName="categoria" class="form-control" (change)="filtrarSubcategorias($event.target.value)">
          <option *ngFor="let categoria of categorias" [value]="categoria.id" [text]="categoria.nombre">
            {{categoria.nombre}}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="subcategoria" class="col-form-label">Subcategoría</label>
        <select id="subcategoria" name="subcategoria" formControlName="subcategoria" class="form-control">
          <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id" [text]="subcategoria.nombre">
            {{subcategoria.nombre}}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>