<div class="loading" *ngIf='loading'>
  <img class="img-logo" src="https://enovelsoluciones.sharepoint.com/sites/jam/solpes/ImagenesSolpes/aplicacion/loading/loading.gif"
    alt="loading...">
</div>
<div class="container">
  <form [formGroup]="solpFormulario">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="tipo-solicitud">Tipo de solicitud</label>
          <div class="row">
            <mat-radio-group class="tipo-solicitud-group" layout="row" formControlName="tipoSolicitud">
              <mat-radio-button class="md-primary" ng-style="{'display':'inline'}" *ngFor="let tipoSolicitud of tiposSolicitud"
                [value]="tipoSolicitud.nombre" (change)="ValidacionesTipoSolicitud(tipoSolicitud)">
                {{tipoSolicitud.nombre}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="zona-contrato-marco" [hidden]="!mostrarContratoMarco">
          <label for="contrato-marco">Contrato Marco</label>
          <input type="text" id="cm" name="cm" class="form-control" formControlName="cm" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="solicitante" class="col-form-label">Solicitante</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="solicitante" value="{{nombreUsuario}}" formControlName="solicitante"
          [attr.disabled]="true">
      </div>
      <label for="empresa" class="col-form-label">Empresa</label>
      <div class="col-md-5">
        <select id="empresa" formControlName="empresa" class="form-control">
          <option value="">Seleccione</option>
          <option *ngFor="let empresa of empresas" [value]="empresa.id" [text]="empresa.nombre">
            {{empresa.nombre}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="ordenadorGastos" class="col-form-label">Ordenador de gastos</label>
        <select2 formControlName="ordenadorGastos" [data]="dataUsuarios" [minCountForSearch]="1" [value]="valorUsuarioPorDefecto"
          class="form-control"></select2>
      </div>
      <div class="col-md-6">
        <label for="pais" class="col-form-label">País</label>
        <select id="pais" name="pais" formControlName="pais" class="form-control">
          <option value="">Seleccione</option>
          <option *ngFor="let pais of paises" [ngValue]="pais" [text]="pais.nombre">
            {{pais.nombre}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="categoria" class="col-form-label">Categoría</label>
        <select id="categoria" name="categoria" formControlName="categoria" class="form-control" (change)="filtrarSubcategorias()">
          <option value="">Seleccione</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria" [text]="categoria.nombre">
            {{categoria.nombre}}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="subcategoria" class="col-form-label">Subcategoría</label>
        <select id="subcategoria" name="subcategoria" formControlName="subcategoria" class="form-control" (change)="cargarCondicionesContractuales()">
          <option value="">Seleccione</option>
          <option *ngFor="let subcategoria of subcategorias" [ngValue]="subcategoria" [text]="subcategoria.nombre">
            {{subcategoria.nombre}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="comprador">Comprador</label>
        <input type="text" id="comprador" name="comprador" formControlName="comprador" class="form-control"
          [attr.disabled]="true">
      </div>
      <div class="col-md-6">
        <label for="fecha-entrega-deseada">Fecha entrega deseada</label>
        <input formControlName="fechaEntregaDeseada" id="fechaEntregaDeseada" name="fechaEntregaDeseada" type="text"
          autocomplete="off" placeholder="Fecha de entrega deseada" class="form-control" #dp="bsDatepicker" [bsConfig]="bsConfig"
          bsDatepicker>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="alcance">Alcance</label>
        <textarea id="alcance" name="alcance" formControlName="alcance" class="form-control" rows="4" placeholder="Describa el alcance de la compra..."></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="justificacion">Justificación</label>
        <textarea id="justificacion" name="justificacion" formControlName="justificacion" class="form-control" rows="4"
          placeholder="Indique la justificación para llevar a cabo la compra..."></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="condiciones-contractuales">Condiciones contractuales</label>
        <div id="condiciones-contractuales" class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Campo</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let condicionContractual of condicionesContractuales">
                <td>{{condicionContractual.nombre}}</td>
                <td>
                  <textarea id="condicionContractual{{condicionContractual.id}}" name="condicionContractual{{condicionContractual.id}}"
                    formControlName="condicionContractual{{condicionContractual.id}}" class="form-control" rows="2"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="condiciones-tecnicas-bienes">Condiciones técnicas bienes</label>
        <div class="btn-agregar-condiciones-bienes">
            <button class="btn btn-info" (click)="abrirModalCTB(templateCondicionesTecnicasBienes)">Agregar condicion técnica bienes</button>
          </div>
        <div id="condiciones-tecnicas-bienes" class="table-responsive">

        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="condiciones-tecnicas-servicios">Condiciones técnicas servicios</label>
        <div class="btn-agregar-condiciones-servicios">
            <button class="btn btn-info" (click)="abrirModalCTS(templateCondicionesTecnicasServicios)">Agregar condicion técnica servicios</button>
          </div>
        <div id="condiciones-tecnicas-servicios" class="table-responsive">
          
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <div class="botonera">
          <button (click)="salir();" class="salir-solpes-btn btn btn-default">Salir</button>
          <button (click)="guardarSolicitud();" class="guardar-solpes-btn btn btn-primary">Enviar Solicitud</button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #templateCondicionesTecnicasBienes>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Agregar condición técnica bienes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Just a modal with a bunch of words inside, nothing serious.
    </div>
  </ng-template>

  <ng-template #templateCondicionesTecnicasServicios>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Agregar condición técnica servicios</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Just a modal with a bunch of words inside, nothing serious.
      </div>
    </ng-template>