table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

button {
    margin-right: 5px;
}

.thead-primary {
    background: #3D87E4;
    color: white;
}

#textInfo {
    background: #3D87E4;
    color: white;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .03);
}

.gray {
    max-width: 1125px !important;
}

.modal-dialog {
    max-width: 1140px;
}

.helper {
    font-size: 14px;
  }

  button img {
      width: 1.5em;
  }

  .numero-orden {
      margin-top: 5px;
  }
    