<div class="card">
  <div class="card-header">
      <div class="row">
          <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Código de material" [(ngModel)]="codigoMaterial">
          </div>
          <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre">
          </div>
          <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Modelo" [(ngModel)]="modelo">
          </div>
          <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Fabricante" [(ngModel)]="fabricante">
          </div>
          <div class="col-md-1">
              <button class="btn btn-outline-primary" type="button" (click)="mostrarValores()">IR</button>
          </div>
      </div>
  </div>
</div>