<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Solpes App
        </a>
      </li>
      <li>
        <a routerLink="/mis-solicitudes" routerLinkActive="active">Mis solicitudes</a>
      </li>
      <li>
        <a routerLink="/crear-solicitud" routerLinkActive="active">Crear solicitud</a>
      </li>
      <li>
        <a routerLink="/consultar-solicitudes" routerLinkActive="active">Consultar solicitudes</a>
      </li>
      <li>
        <a routerLink="/sondeo" routerLinkActive="active">Sondeo</a>
      </li>
      <li>
        <a routerLink="/aprobar-sondeo" routerLinkActive="active">Aprobar sondeo</a>
      </li>
      <li>
        <a routerLink="/entrega-bienes" routerLinkActive="active">Entrega de bienes</a>
      </li>
      <li>
        <a routerLink="/entrega-servicios" routerLinkActive="active">Entrega de servicios</a>
      </li>
      <li>
        <a routerLink="/contratos" routerLinkActive="active">Contratos</a>
      </li>
      <li>
        <a routerLink="/recepcion-sap" routerLinkActive="active">Recepción SAP</a>
      </li>
      <li>
        <a routerLink="/registrar-solp-sap" routerLinkActive="active">Registrar Solp SAP</a>
      </li>
      <li>
        <a routerLink="/verificar-material" routerLinkActive="active">Verificar material</a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar menú</a>
          <!--<div class="zona-usuario-logueado">
                      <div class="usuario">
                          <img src="#" class="imagen-usuario" alt="usuario">
                          <span class="usuario-logueado">Pepito Perez</span>
                      </div>
                      <div class="roles">
                          <div class="rol">
                              Rol
                          </div>
                      </div>
                  </div>-->
          <div class="contenido-aplicacion">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>