<div id="wrapper">
    <div class="container-fluid">
    <div id="sidebar-wrapper" class="text-left">
        
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <!-- <img src="../assets/images/LogoInternexa.png" class="logo"/> -->
            </li>
            <li>
                <a routerLink="/crear-solicitud" routerLinkActive="active">Crear solicitud</a>
            </li>
            <li>
                <a routerLink="/mis-solicitudes" routerLinkActive="active">Mis solicitudes</a>
            </li>
            <li>
                <a routerLink="/mis-pendientes" routerLinkActive="active">Mis pendientes</a>
            </li>
            <li *ngIf="PermisosRegistroEntradasBienes">
                <a routerLink="/registrar-entradas-sap-bienes" routerLinkActive="active">Registrar entrada SIA bienes</a>
            </li>
            <li *ngIf="PermisosRegistroEntradasServicios">
                <a routerLink="/registrar-entradas-sap-servicios" routerLinkActive="active">Registrar entrada SAP
                    servicios</a>
            </li>
            <li *ngIf="PermisosEdicionContratos">
                <a routerLink="/vista-contratos" routerLinkActive="active">Edición Vista Contratos</a>
            </li>

            <li *ngIf="PermisosReporteContratos">
                <a routerLink="/reportar-contratos" routerLinkActive="active">Reporte de administración de contratos</a>
            </li>

            <li *ngIf="PermisosReporteSolicitud">
                <a routerLink="/reportar-solicitud" routerLinkActive="active">Reporte de estado de solicitudes</a>
            </li>
            <!-- <li *ngIf="PermisosConsultaGeneral" > -->
            <li>
                <a routerLink="/consulta-general" routerLinkActive="active">Consulta general</a>
            </li>
        </ul>

        <div class="version-aplicacion">
            <p class="texto-version">Versión 2.5.2</p>
        </div>
    </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Ocultar menú</a>
                    <div class="zona-usuario-logueado">
                        <div class="usuario text-right">
                            <span class="usuario-logueado">Bienvenido <b>{{nombreUsuario}}</b></span>
                        </div>
                    </div>
                    <div class="contenido-aplicacion">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>