<div class="loading" *ngIf='loading'>
  <img class="img-logo" src="https://enovelsoluciones.sharepoint.com/sites/jam/solpes/ImagenesSolpes/aplicacion/loading/loading.gif" 
        alt="loading...">
    <b>PROCESANDO...</b>
</div>
<h2 mat-dialog-title>Reasignar - Consecutivo: {{consecutivoSolicitud}}</h2>
<hr>

<mat-dialog-content class="mat-typography">
  <div class="row" *ngIf="mostrarEnSondeo">
    <div class="col-md-12">
      <label for="reasignar-a">Reasignar a </label>
      <select class="form-control" (change)="changeSolicitante($event)" [formControl]="ReasignarControl" [(ngModel)]="reasignarModelo">
        <option *ngFor="let usuario of dataUsuarios" [value]="usuario.value" [text]="usuario.label">{{usuario.label}}</option>
      </select>
      <!-- <select2 [formControl]="ReasignarControl" [(ngModel)]="reasignarModelo" [data]="dataUsuarios" [minCountForSearch]="1" [value]="valorUsuarioPorDefecto" class="form-control" required (change)="changeSolicitante()">
      </select2> -->
      <mat-error *ngIf="ReasignarControl.hasError('required')">
          Este campo es requerido
      </mat-error>
    </div>
  </div>

  <div class="row" *ngIf="!mostrarEnSondeo">
      <div class="col-md-12">
        <label for="reasignar-a">Reasignar a</label>
        <select class="form-control" (change)="changeSolicitante($event)" [formControl]="ReasignarControl" [(ngModel)]="reasignarModelo">
          <option *ngFor="let comprador of listaCompradores" [value]="comprador.compradorId" [text]="comprador.compradorNombre">{{comprador.compradorNombre}}</option>
        </select>
        <!-- <select2 [formControl]="ReasignarControl" [(ngModel)]="reasignarModelo" [data]="dataUsuarios" [minCountForSearch]="1" [value]="valorUsuarioPorDefecto" class="form-control" required (change)="changeSolicitante()">
        </select2> -->
        <mat-error *ngIf="ReasignarControl.hasError('required')">
            Este campo es requerido
        </mat-error>
      </div>
    </div>

  <div class="row" *ngIf="mostrarJefe">
    <div class="col-md-12">
      <label for="ordenadorGastos" class="col-form-label">Ordenador de gastos</label><span
        class="asterisco-obligatorio">*</span>
        <!-- <input type="text" class="form-control">{{jefeDirectoNombre}} -->
        <select class="form-control" [formControl]="ReasignarControl" [value]="jefeSeleccionado" (change)="changeJefe($event)">
            <option *ngFor="let usuario of dataUsuarios" [value]="usuario.value" [text]="usuario.label">{{usuario.label}}</option>
          </select>
      <!-- <select2  [data]="dataUsuarios" [minCountForSearch]="1"
        [value]="valorUsuarioPorDefecto" class="form-control" [(ngModel)]="valorUsuarioPorDefecto" (change)="changeJefe()">
      </select2> -->
      <div class="alert alert-primary" role="alert" [hidden]="!emptyManager">
        No tiene un ordenador de gastos asignado, debe seleccionar uno
      </div>
    </div>
  </div>

  <div class="row">
    <div class="alertas">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="botonera">
        <button class="btn btn-default" (click)="salir()">Salir</button>
        <button class="btn btn-success" (click)="reasignar()">Reasignar</button>
      </div>
    </div>
  </div>


</mat-dialog-content>

<ngx-spinner></ngx-spinner>