<h1>RECEPCIONAR SERVICIOS</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <div  >
            <h5><strong>Número de pedido: </strong>{{NumSolp}}</h5>
        </div>
    </div>
    <div class="col-md-4 offset-md-2">
        <button class="derecha-boton btn btn-default" (click)="VerSolicitud()">Ver solicitud</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="colFormLabel" class="col-form-label"><strong>Servicios solicitados</strong></label>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Cantidad recibida</th>
                            <th scope="col">Cantidad restante</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ObjCondicionesTecnicas">
                            <td>{{item.codigo}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.cantidadRecibida}}</td>
                            <td>{{item.totalCantidad}}</td>
                            <td>
                                <div *ngIf="item.totalCantidad === 0 || item.ultimaEntregaCTS === true">
                                    Última entrega realizada
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row espacio">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Realizar recepción</strong>
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="AgregarElementoForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Descripción</label>
                            <select name="" id="" class="form-control" formControlName="Descripcion" [ngClass]="{ 'is-invalid': submitted && f.Descripcion.errors }">
                                          <option value=""></option>
                                          <option *ngFor="let item of ObjItemsDescripcion" [ngValue]="item">{{item.descripcion}}</option>
                                      </select>
                            <div *ngIf="submitted && f.Descripcion.errors" class="invalid-feedback">
                                <div *ngIf="f.Descripcion.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Valor</label>
                            <input currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false }" type="text" formControlName="Valor" numbersOnly class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Valor.errors }">
                            <div *ngIf="submitted && f.Valor.errors" class="invalid-feedback">
                                <div *ngIf="f.Valor.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Cantidad</label>
                            <ng-template #tolTemplate>{{content}}</ng-template>
                            <input currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false, precision : 0 }" type="text" class="form-control" numbersOnly [tooltip]="tolTemplate" (change)="ValidacionCero()" triggers="" #customTooltip="bs-tooltip"
                                placement="bottom" id="Cantidad" numbersOnly formControlName="Cantidad" [ngClass]="{ 'is-invalid': submitted && f.Cantidad.errors }">
                            <div *ngIf="submitted && f.Cantidad.errors" class="invalid-feedback">
                                <div *ngIf="f.Cantidad.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Mes</label>
                            <select name="" id="" class="form-control" formControlName="Mes" [ngClass]="{ 'is-invalid': submitted && f.Mes.errors }">
                                  <option value=""></option>
                                  <option *ngFor="let item of ObjMeses" [ngValue]="item">{{item}}</option>
                              </select>
                            <div *ngIf="submitted && f.Mes.errors" class="invalid-feedback">
                                <div *ngIf="f.Mes.errors.required">Es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Año</label>
                            <input type="number" minlength="4" formControlName="Ano" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Ano.errors }">
                            <div *ngIf="submitted && f.Ano.errors" class="invalid-feedback">
                                <div *ngIf="f.Ano.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Ubicación</label>
                            <input type="text" formControlName="Ubicacion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Ubicacion.errors }">
                            <div *ngIf="submitted && f.Ubicacion.errors" class="invalid-feedback">
                                <div *ngIf="f.Ubicacion.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">última entrega</label>
                            <select name="" id="" class="form-control" formControlName="UltimaEntrega" [ngClass]="{ 'is-invalid': submitted && f.UltimaEntrega.errors }">
                                  <option value="" [disabled]="modolectura"></option>
                                  <option value="Sí" [disabled]="modolectura">Sí</option>
                                  <option value="No" [disabled]="modolectura">No</option>
                              </select>
                            <div *ngIf="submitted && f.UltimaEntrega.errors" class="invalid-feedback">
                                <div *ngIf="f.UltimaEntrega.errors.required">Es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Comentario</label>
                            <textarea class="form-control" rows="1" formControlName="Comentario"></textarea>
                        </div>
                    </div>
                    <div class="row espacioRowPedido">
                        <div class="col-md-6 offset-md-9">
                            <button type="submit" class="btn btn-primary">Agregar elemento</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper-scroll-y">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Ubicación</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Mes</th>
                                        <th scope="col">Año</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Última entrega</th>
                                        <th scope="col">Fecha recepción</th>
                                        <th scope="col">Comentario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ObjRecepcionServicios.reverse()">
                                        <td>{{item.descripcion}}</td>
                                        <td>{{item.ubicacion}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td>{{item.mes}}</td>
                                        <td>{{item.ano}}</td>
                                        <td>{{item.valor}}</td>
                                        <td>
                                            <div *ngIf="item.ultimaEntrega == true">
                                                Sí
                                            </div>
                                            <div *ngIf="item.ultimaEntrega == false">
                                                No
                                            </div>
                                        </td>
                                        <td>{{item.fechaRecepcion | date:"dd/MM/yyyy"}}</td>
                                        <td>{{item.comentario}}</td>
                                        <td>
                                            <button class="btn btn-danger btnAcciones" *ngIf="item.estadoRS === 'No confirmado'" (click)="Eliminar(item)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row espacioBotones">
    <!-- <button type="button" class="btn btn-primary btn-lg botonera">Guardar</button> -->
    <button type="button" class="btn btn-success btn-lg botonera" *ngIf="showBtnConfirmar === false" (click)="Confirmar()">Confirmar y salir</button>
    <button type="button" class="btn btn-primary btn-lg botonera" (click)="Salir()">Salir</button>
</div>


<ngx-spinner>
    <p style="font-size: 20px; color: white">PROCESANDO...</p>
</ngx-spinner>