<h3>Registrar recepción servicio en SAP</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Número Pedido</th>
                <th>Recepcionado por</th>
                <th>Ubicación</th>
                <th>Cantidad</th>
                <th>Mes</th>
                <th>Valor</th>
                <th>Comentarios</th>
                <th># Recepción SIA</th>
                <th>Guardar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ObjRecepcionServicios">
                <td>{{item.numeroPedido}}</td>
                <td>{{item.autor}}</td>
                <td>{{item.ubicacion}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.mes}}</td>
                <td>{{item.valor}}</td>
                <td>{{item.comentario}}</td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="item.NumeroRecepcion" [formControl]="numRecepcion">
                </td>
                <td>
                    <input type="button" class="btn btn-success" value="OK" (click)="Guardar(item)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ngx-spinner>
    <p style="font-size: 20px; color: white">PROCESANDO...</p>
</ngx-spinner>
