<h2>Mis Pendientes</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar solicitud">
</mat-form-field>

<mat-toolbar color="primary" [hidden]="!empty">No hay pendientes</mat-toolbar>

<div class="mat-elevation-z8" [hidden]="empty">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->

    <ng-container matColumnDef="Consecutivo">
      <th mat-header-cell *matHeaderCellDef> Consecutivo </th>
      <td mat-cell *matCellDef="let element"> {{element.consecutivo}} </td>
    </ng-container>

    <ng-container matColumnDef="Pais">
      <th mat-header-cell *matHeaderCellDef> País </th>
      <td mat-cell *matCellDef="let element"> {{element.nombrePais}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Tiposolicitud">
      <th mat-header-cell *matHeaderCellDef> Tipo de solicitud </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoSolicitud}} </td>
    </ng-container>

    <ng-container matColumnDef="Alcance">
      <th mat-header-cell *matHeaderCellDef> Alcance </th>
      <td mat-cell *matCellDef="let element"> {{element.alcance}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fechaEntregaDeseada">
      <th mat-header-cell *matHeaderCellDef> Fecha entrega deseada </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEntregaDeseada | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">

        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Borrador'" class="btn btn-primary btn-block" (click)="EditarSolicitud(element)">Seguir
              editando</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Borrador'" class="btn btn-danger btn-block" (click)="descartarSolicitud(element.id, templateConfirmacionDescartar)">Descartar</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por sondear'" class="btn btn-primary btn-block" (click)="PorSondear(element)">Sondear</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por sondear'" class="btn btn-success btn-block" (click)="reasignar(element)">Reasignar</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por aprobar sondeo'" class="btn btn-primary btn-block" (click)="AprobarSondeo(element)">
              Revisar sondeo</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por verificar material'" class="btn btn-primary btn-block" (click)="VerificarMaterial(element)">Ir
              a verificar material</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por registrar solp sap'" class="btn btn-primary btn-block" (click)="RegistrarSOLPSAP(element)">Ir
              a registrar SOLP SAP</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por registrar contratos'" class="btn btn-primary btn-block" (click)="RegistrarContratos(element)">Ir
              a registrar contratos</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por registrar contratos'" class="btn btn-success btn-block" (click)="reasignar(element)">Reasignar</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Sin presupuesto'" class="btn btn-primary btn-block" (click)="ConPresupuesto(element,templateConfirmacionPresupuesto)">Enviar
              a registrar SOLP</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Sin presupuesto'" class="btn btn-danger btn-block" (click)="Descartar(element,templateConfirmacionDescartarSinPresupuesto)">Descartar</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Sin presupuesto'" class="btn btn-success btn-block" (click)="VerDetalle(element.id)">Ver
              detalle</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por recepcionar' && element.FaltaRecepcionBienes === true" class="btn btn-primary btn-block"
              (click)="RegistrarEntregasBienes(element)">Recepcionar bienes</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por recepcionar' && element.FaltaRecepcionServicios === true" class="btn btn-primary btn-block"
              (click)="RegistrarEntregasServicios(element)">Recepcionar servicios</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Por registrar activos'" class="btn btn-primary btn-block" (click)="RegistrarActivos(element)">Ir
              a registrar activos</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button  class="btn btn-warning btn-block" *ngIf="element.estado == 'Por registrar contratos' && element.suspendida == 'false'" (click)="suspender(templateSuspenderSolicitud,element)">Suspender solicitud</button>
          </div>
        </div>
        <div class="filaBtn">
          <div class="col-md-12">
            <button *ngIf="element.estado =='Suspendida' && element.reactivada == false" class="btn btn-success btn-block" (click)="reactivar(templateReactivarSolicitud,element)">Reactivar</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>
</div>


<ng-template #templateConfirmacionDescartar>
  <div class="modal-body text-center">
    <p>¿Estás seguro que desea descartar la solicitud?</p>
    <button type="button" class="btn btn-default" (click)="confirmarDescartar()">Sí</button>
    <button type="button" class="btn btn-primary" (click)="declinarDescartar()">No</button>
  </div>
</ng-template>

<ng-template #templateConfirmacionDescartarSinPresupuesto>
  <div class="modal-body text-center">
    <p>Su solicitud se descartará permanentemente, esta acción no se puede deshacer</p>
    <button type="button" class="btn btn-primary btnPresupuesto" (click)="confirmarDescartarPresupuesto()">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="declinarDescartar()">Cancelar</button>
  </div>
</ng-template>

<ng-template #templateConfirmacionPresupuesto>
  <div class="modal-body text-center">
    <p>Antes de enviar nuevamente usted debe haber gestionado la asignación de presupuesto.</p>
    <button type="button" class="btn btn-primary btnPresupuesto" (click)="confirmarPresupuesto()">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="declinarDescartar()">Cancelar</button>
  </div>
</ng-template>

<ng-template #templateSuspenderSolicitud>
  <div class="modal-body text-center">
    <p>Por favor indique el motivo de la suspensión</p>
    <select name="suspender" id="suspender" class="form-control" [(ngModel)]="nombreSuspension">
      <option value="Seleccione">Seleccione</option>
      <option *ngFor="let motivo of motivoSuspension" [ngValue]="motivo.nombre">{{motivo.nombre}}</option>
    </select>
    <br>
    <button type="button" class="btn btn-danger" (click)="confirmarSuspension(element)">Aceptar</button>
    <button type="button" class="btn btn-primary" (click)="declinarDescartar()">Cancelar</button>
  </div>
</ng-template>

<ng-template #templateReactivarSolicitud>
  <div class="modal-body text-center">
    <p>¿Está seguro?</p>
    <p>Una vez reactivada no podrá volver a suspender esta solicitud</p>
    <button type="button" class="btn btn-danger" (click)="confirmarReactivar(element)">Aceptar</button>
    <button type="button" class="btn btn-primary" (click)="declinarDescartar()">Cancelar</button>
  </div>
</ng-template>


<ngx-spinner>
  <p style="font-size: 20px; color: white">PROCESANDO...</p>
</ngx-spinner>
